head{
}
body{
	background-image: url("fridge1.png"), url("flowers.png"); /* https://pixabay.com/en/fridge-refrigerator-vintage-fridge-1597106/ <-- free */
	 /* https://cdn2.bigcommerce.com/server2800/own6dl/images/stencil/2048x2048/products/2937/8905/IMG_1650_edited-1__14588.1499291766.jpg?c=2 <---fair use */
	
	background-repeat: no-repeat, repeat ;
	background-position: center top, left top;
}
#tileBanner{
	margin: auto;
	background-color: rgba(255,255,255, 0.5);
	width: 55%;
	height: 80px;
	
	border-radius: 10px 50px;
	padding: 10px;
	
	border-style: solid;
	border-color: #c0c0c0; /*silver */
	border-width: 5px;
	text-align: center;
}
.tiles{
	background-color: rgba(0,0,200,0.2);
	margin: auto;
	height: 75px;
	
	border-radius: 10px 20px;
	
	border-style: solid;
	border-color: rgba(0,0,200,0.5);
	border-width: 3px;
	
	text-align: center ;
}
.tiles .recipes{
	width: 100px;
	position: absolute;
	right: 0;
	top: 0;
}
.tiles .tips{
	width: 75px;
	position: absolute;
	left: 0;
	top: 0;
}
